
html {
    font-size: 62.5%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	height:100%;
}

*{
	box-sizing: border-box;
}

body {
	background-color: #777;
	height:100%;
	font-size: 1.5rem;
	font-family: Verdana, Geneva, sans-serif;
}

/* Default link styling */
a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color:#000; }
a:active { color:#fb0e02; }   

header nav{
	position: absolute;
	top: 1rem;
	right: 1rem;
}

h1{
	font-family: "Times New Roman", Times, serif;
}

.warp{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

#main{
	min-height: calc(100% - 60px);
	background-size: cover;
	padding: 2rem;
}

.choice{
	padding: 0.5rem 1rem;
	background-color: white;
	margin-right: 1rem;
	border-radius: 3px;
}

.choice.main{
	background-color: black;
	color: white;
}